<p id="notice"><%= notice %></p>

<h1>Participations</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User name</th>
      <th>Is recommend</th>
      <th>Is public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= participation.content %></td>
        <td><%= participation.user_name %></td>
        <td><%= participation.is_recommend %></td>
        <td><%= participation.is_public %></td>
        <td><%= link_to 'Show', participation %></td>
        <td><%= link_to 'Edit', edit_participation_path(participation) %></td>
        <td><%= link_to 'Destroy', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participation', new_participation_path %>
