<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Views:</strong>
  <%= @content.views %>
</p>

<p>
  <strong>Downloads:</strong>
  <%= @content.downloads %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @content.is_public %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @content.photo.url(:medium) %>
</p>

<p>
  <strong>Sample:</strong>
  <%= image_tag @content.sample.url(:medium) %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
